.App {
  position: relative;
  background-color: #fcfcfc;
}

.App .main {
  padding: 10px 20px;
  min-height: calc(100vh - 3.75rem);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
